.action
	.target--illusion
		.target--link#action
	.container
		.row
			.col-xs-14
				h1.action__title.wow.fadeInDown
					| акция!
				h2.action__subtitle.wow.fadeInLeft
					| При заказе шлифовки и покраски дома 
					br
					| внутри и снаружи - 10%
				.wow.fadeInUp
					a.btn.btn-sm.fancy(href="#call")
						| Заказать выезд мастера