.action
	.target--illusion
		.target--link#action
	.container
		.row
			.col-xs-14
				h1.action__title.wow.fadeInDown
					| Спецпредложение! 
				p.action__subtitle.wow.fadeInLeft
					| Внутренняя отделка дома "под ключ" 
					br
					| (включая расходные материалы и краску)
				.action__grid
					.action__grid-col.action__col
						header.action__col-header.wow.fadeInLeft
							| Стандарт
						.action__col-body.wow.fadeInLeft
							.action__col-body-item
								| Шлифовка стен один проход 
							.action__col-body-item
								| Покраска первого слоя
							.action__col-body-item
								| Межслойная шлифовка 
						.action__col-price.wow.fadeInLeft
							.action__col-price-title
								| Стоимость за кв.м.:
							.action__col-price-price
								| 400 руб.
							a.btn.btn-sm.fancy.action__col-btn(href="#call")
								| Заказать обратный звонок
					.action__grid-col.action__col.action__grid-col-2
						header.action__col-header.wow.fadeInLeft(data-wow-delay="0.2s")
							| Премиум
						.action__col-body.wow.fadeInLeft(data-wow-delay="0.2s")
							.action__col-body-item
								| Шлифовка стен один проход
							.action__col-body-item
								| Покраска первого слоя
							.action__col-body-item
								| Межслойная шлифовка
							.action__col-body-item
								b
									| + Покраска второго слоя
							.action__col-body-item
								b
									| + Межслойная шлифовка
						.action__col-price.wow.fadeInLeft(data-wow-delay="0.2s")
							.action__col-price-title
								| Стоимость за кв.м.:
							.action__col-price-price
								| 650 руб.
							a.btn.btn-sm.fancy.action__col-btn(href="#call")
								| Заказать обратный звонок
						.action__grid-message.wow.fadeInLeft
							.action__grid-message-title
								| Профессиональные составы:
								br
								| Rubiomonocoat, Borma, Osmo, Biofa, Teknos.
							.action__grid-message-subtitle
								| Предложение действительно до 30.11.2016 г.
					.action__grid-col.action__col
						header.action__col-header.wow.fadeInLeft(data-wow-delay="0.4s")
							| Элит
						.action__col-body.wow.fadeInLeft(data-wow-delay="0.4s")
							.action__col-body-item
								| Шлифовка стен один проход
							.action__col-body-item
								| Покраска первого слоя
							.action__col-body-item
								| Межслойная шлифовка
							.action__col-body-item
								b
									| + Покраска второго слоя
							.action__col-body-item
								b
									| + Межслойная шлифовка
							.action__col-body-item
								b
									| + Нанесение финишного состава
							.action__col-body-item
								b
									| + Полировка и/или межслойная шлифовка
						.action__col-price.wow.fadeInLeft(data-wow-delay="0.4s")
							.action__col-price-title
								| Стоимость за кв.м.:
							.action__col-price-price
								| 1 100 руб.
							a.btn.btn-sm.fancy.action__col-btn(href="#call")
								| Заказать обратный звонок