.dom
	.target--illusion
		.target--link#dom
	.container
		.row
			.col-xs-14
				header.dom__header
					h1.dom__title.wow.fadeInDown
						| Вы хотите иметь новый 
						br
						| деревянный дом на своем участке?
				.dom__main
					p.wow.fadeInLeft
						| Вы сидите на веранде своего деревянного дома, наслаждаясь чашечкой любимого кофе или чая. Вокруг тишина и спокойствие, на столе бабушкины горячие пирожки, а вокруг Вас родные и самые близкие люди. Свобода и безграничное счастье… Для одних просторный дом — это воспоминания из далёкого беззаботного детства, для других — лишь фото красивых деревянных домов в журнале. 
					p.wow.fadeInLeft
						| Но времена меняются, появляются новые технологии и уникальные решения в строительстве и отделке домов из клееного профилированного бруса, лафета, оцилиндрованного бревна. Деревянные дома испокон веков считались эталоном. Почему же именно дерево?
					p.wow.fadeInLeft
						| На Руси в деревянном доме жили и крестьяне, и зажиточные бояре. Различия были в масштабах, отделке, убранстве. Дерево проще добывать, чем камень, наша земля щедро одаривает этим универсальным ресурсом. Оно легче обрабатывается, прекрасно поддаётся шлифовке, покраске и другим видам отделки.
				footer.dom__foo
					p.wow.fadeInLeft
						| У славян есть народное предание! Изба из деревянного сруба защищала от порчи и болезней, потому что человек окружал себя и свою семью добрыми лесными духами, которые помогали им во всём!
