.doubts
	.target--illusion
		.target--link#doubts
	.container
		.row
			.col-xs-14
				header.doubts__header
					h2.doubts__title.wow.fadeInDown
						| Вы ещё сомневаетесь, что Вам нужна 
						| шлифовка и покраска деревянного дома 
						| от профессионалов «Экостиль»? 
				.doubts__content
					p.wow.fadeInLeft
						| «Экостиль» — это динамично развивающаяся фирма, в которой специалисты досконально изучили все методики и технологии наружной и деревянной отделке домов из лафета, клееного  профилированного бруса, сруба и оцилиндрованного бревна. За годы работы не было ни одного недовольного клиента, что говорит о нашей надёжность, честности и уверенности в собственных силах. 
					p.wow.fadeInLeft
						| В мире отделки деревянных домов появляются новинки, за которыми мы тщательно следим. Обращаясь к нам, Вы получаете не просто качество, а результат передовых технологий, о которых не знают многие владельцы деревянных домов!
				.doubts__main
					.doubts__items
						.doubts__item.doubts__item-a.wow.fadeInLeft
							| Жестко соблюдаем все технологии и технические требования производителей при выполненииотделочных работ
						.doubts__item.doubts__item-a.wow.fadeInLeft(data-wow-delay="0.2s")
							| Предлагаем широкий спектр услуг по внутренней и внешней отделке, который постоянно расширяется
						.doubts__item.doubts__item-a.wow.fadeInLeft(data-wow-delay="0.4s")
							| Даём развёрнутые консультации, оказываем помощь в выборе материалов и технологий
						.doubts__item.doubts__item-a.wow.fadeInLeft(data-wow-delay="0.6s")
							| Используем лучшие материалы и средства от ведущих зарубежных и отечественных производителей
					.doubts__items
						.doubts__item.doubts__item-b.wow.fadeInLeft
							| Выполняем отделку деревянных домов в короткие сроки, предоставляя качество на самом высоком уровне
						.doubts__item.doubts__item-b.wow.fadeInLeft(data-wow-delay="0.3s")
							| Индивидуально подходим к каждому проекту, удовлетворяя запросы и пожелания самых взыскательных клиентов
						.doubts__item.doubts__item-b.wow.fadeInLeft(data-wow-delay="0.6s")
							| Гордимся положительной репутацией, множеством благодарных отзывов от заказчиков						
				footer.doubts__foo
					h5.doubts__foo-title.wow.fadeInDown
						| Самое главное!
					p.wow.fadeInLeft
						| Занимаемся отделкой только деревянных домов, что выгодно отличает нас от «универсальных» строительных компаний.
					p.wow.fadeInLeft(data-wow-delay="0.2s")
						| Мы тщательно изучили специфику строений из клееного и профилированного бруса, оцилиндрованного бревна и бревна ручной рубки. Используем профессиональные инструменты, имеем в арсенале полный набор необходимого оборудования. Строго соблюдаем требования производителей лакокрасочных материалов. Никакой промышленной покраски, сомнительных комплексных средств «2 в 1» и «3 в 1». Следим за современными технологиями, применяем в работе новейшие разработки, поэтому можем гарантировать отличный результат!
