.edge
	.target--illusion
		.target--link#edge
	.container
		.row
			.col-xs-14
				h1.edge__title.heading-decor-gray.wow.fadeInDown
					| Преимущества деревянного дома:
				.edge__items
					figure.edge__item.wow.fadeInLeft
						figcaption.edge__item-pr
							img.img-responsive(src="images/edge/1.jpg", alt="")
						.edge__item-main
							h5.edge__item-title
								| Экологическая чистота
							.edge__item-desc
								| Дышится в доме из
								| натурального дерева
								| легко и свободно,
								| воздух насыщен
								| полезными фитонцидами.
								| Но важно и правильно выполнить отделочные
								| работы!
					figure.edge__item.wow.fadeInUp
						figcaption.edge__item-pr
							img.img-responsive(src="images/edge/2.jpg", alt="")
						.edge__item-main
							h5.edge__item-title
								| Долговечность
							.edge__item-desc
								| Дом будет служить десятилетиями, если
								| следить за его внешним и
								| внутренним видом.
								| По мере необходимости
								| нужно делать востановительную покраску деревянного дома, независимо от технологии строительства.
					figure.edge__item.wow.fadeInRight
						figcaption.edge__item-pr
							img.img-responsive(src="images/edge/3.jpg", alt="")
						.edge__item-main
							h5.edge__item-title
								| Особая
								br
								| атмосфера
							.edge__item-desc
								| В родовом поместье должен стоять именно деревянный дом, как это было у наших предков. Чтобы он был на 100% безопасным, защищённым от внешних факторов, за строением требуется профессиональный уход.
				.edge__place
					p.wow.fadeInLeft
						| Если вы думаете, что освежить и оживить красоту старого дома невозможно, что сохранить новый вид деревянного дома нереально или это не имеет смысла, то глубоко ошибаетесь.
						br
					p.wow.fadeInLeft
						| Качественная наружная шлифовка и покраска, внутренняя отделка помогут вернуть домику
						| из бруса, лафета, сруба или клееного профилированного бруса тот вид, который был
						| в Ваших воспоминаниях и даже мечтах! 
					p.wow.fadeInLeft
						| Среди множества компаний в Нижнем Новгороде и области мы является лидером на рынке услуг по внешней и внутренней отделке домов из дерева всех типов.  Где заказать лучшую шлифовку и покраску деревянного дома? Конечно, в компании «Экостиль»! Мы не пытаемся вернуть детство, а лишь сохраняем вечные ценности, делая Вашу жизнь комфортной, удобной и красивой, полной романтики и подлинного искусства, которое выражается в оформлении Вашего дома!

