footer.foo
	.container
		.row
			.col-xs-2
				img.foo__logo.img-responsive(src="images/logo.png", alt="", width="112", height="112")
			.col-xs-12
				.foo__container
					div.foo__left
						.foo__title
							| Ваш дом заслуживает быть особенным
						.foo__caption
							| Профессиональная отделка деревянных домов, 
							br
							| качественная шлифовка и 
							| покраска
					div.foo__right
						ul.foo__phone
							li
								| 8 (831) 410-90-87 
							//- li
								| 415-23-99
						a.btn.btn-xs.foo__btn.fancy(href="#call")
							| Заказать выезд мастера
