.gallery
	.target--illusion
		.target--link#gallery
	.container
		.row
			.col-xs-14
				h1.gallery__title.heading-decor-brown.wow.fadeInDown
					| Примеры работ
				.slider__arrows#slider-arrows
					p.gallery__slogan.wow.fadeInLeft
						| Дёшево и ненадёжно? Или долговечно и роскошно? 
						br
						| А какой Вы видите жизнь в своём доме?
	.slider
		.slider__first
			div
				a.slider__slide.fancy(href="images/gallery/full/01.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/01.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/02.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/02.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/03.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/03.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/04.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/04.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/05.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/05.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/06.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/06.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/07.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/07.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/08.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/08.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/09.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/09.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/10.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/10.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/11.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/11.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/12.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/12.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/13.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/13.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/14.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/14.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/15.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/15.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/16.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/16.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/17.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/17.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/18.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/18.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/19.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/19.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/20.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/20.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/21.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/21.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/22.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/22.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/23.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/23.jpg", alt="", width="280", height="221")
			//- div
				a.slider__slide.fancy(href="images/gallery/full/24.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/24.jpg", alt="", width="280", height="221")
			
		.slider__second
			div
				a.slider__slide.fancy(href="images/gallery/full/25.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/25.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/26.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/26.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/27.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/27.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/28.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/28.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/29.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/29.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/30.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/30.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/31.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/31.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/32.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/32.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/33.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/33.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/34.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/34.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/35.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/35.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/36.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/36.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/37.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/37.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/38.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/38.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/39.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/39.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/40.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/40.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/41.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/41.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/42.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/42.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/43.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/43.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/44.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/44.jpg", alt="", width="280", height="221")
			//- div
				a.slider__slide.fancy(href="images/gallery/full/45.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/45.jpg", alt="", width="280", height="221")
			//- div
				a.slider__slide.fancy(href="images/gallery/full/46.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/46.jpg", alt="", width="280", height="221")
			//- div
				a.slider__slide.fancy(href="images/gallery/full/47.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/47.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/48.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/48.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/49.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/49.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/50.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/50.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/51.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/51.jpg", alt="", width="280", height="221")
			div
				a.slider__slide.fancy(href="images/gallery/full/52.jpg", data-fancybox-group="gallery")
					img.lazy(data-original="images/gallery/52.jpg", alt="", width="280", height="221")
				
		//- .slider__first
			div
				a.slider__slide.fancy(href="images/gallery/full/1.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/1.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/2.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/2.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/3.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/3.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/4.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/4.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/5.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/5.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/6.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/6.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/7.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/7.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/8.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/8.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/9.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/9.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/10.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/10.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/11.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/11.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/12.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/12.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/13.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/13.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/14.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/14.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/15.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/15.jpg", alt="")

		//- .slider__second
			div
				a.slider__slide.fancy(href="images/gallery/full/15.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/15.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/14.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/14.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/13.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/13.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/12.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/12.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/11.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/11.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/10.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/10.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/9.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/9.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/8.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/8.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/7.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/7.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/6.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/6.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/5.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/5.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/4.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/4.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/3.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/3.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/2.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/2.jpg", alt="")
			div
				a.slider__slide.fancy(href="images/gallery/full/1.jpg", data-fancybox-group="gallery")
					img(src="images/gallery/1.jpg", alt="")