header.header
	.container
		.row
			.col-xs-2
				img.header__logo.img-responsive(src="images/logo.png", alt="", width="112", height="112")
			.col-xs-12
				.header__container
					div.header__left
						.header__title
							| Ваш дом заслуживает быть особенным
						.header__caption
							| Профессиональная отделка деревянных домов, 
							br
							| качественная шлифовка и 
							| покраска
					div.header__right
						ul.header__phone
							li
								| 8 (831) 410-90-87 
							//- li
								| 415-23-99
						a.btn.btn-xs.header__btn.fancy(href="#call")
							| Заказать обратный звонок
	include nav.jade