.main
	.container
		.row
			.col-xs-14
				.slider__main
					.main__place
						h4.main__title
							| Поверхность деревянного дома неровная? 
							br
							| Нужно защитить дерево от грибка и плесени? 
							br
							| Хотите получить идеальный фасад? 
						.main__separator
						p.main__slogan
							| Шлифовка дома решит все проблемы!
						div
							a.btn.btn-sm.fancy(href="#call")
								| Заказать обратный звонок
					
					.main__place
						h4.main__title
							| Дом выглядит невзрачно и уныло?
							br
							| Думаете о том, как защитить деревянный дом
							br
							| на долгие годы? Хотите яркости и сочности?
							br
							| Хотите придать неповторимый стиль Вашему дому? 
						.main__separator
						p.main__slogan
							| Вам нужна покраска деревянного дома!
						div
							a.btn.btn-sm.fancy(href="#call")
								| Заказать обратный звонок

					.main__place
						h4.main__title
							| Хотите защитить фасад и сделать его красивым —
							br
							| закажите шлифовку и покраску деревянного дома
							br
							| в Нижнем Новгороде или Нижегородской области
							br
							| у профессионалов! 
						.main__separator
						p.main__slogan
							
						div
							a.btn.btn-sm.fancy(href="#call")
								| Заказать обратный звонок