.nav--illusion
	nav.nav.-nav--fixed
		.container
			.row
				.col-xs-14
					//- .clearfix.visible-xs
						button.nav__btn.navbar-toggle
							span.icon-bar
							span.icon-bar
							span.icon-bar
					ul.nav__container
						li.nav__item
							a(href="#price").nav__link
								| Услуги и цены
						li.nav__item
							a(href="#action").nav__link
								| акция
						li.nav__item
							a(href="#what").nav__link
								| почему мы?
						li.nav__item
							a(href="#edge").nav__link
								| преимущества
						li.nav__item
							a(href="#gallery").nav__link
								| примеры работ
						li.nav__item
							a(href="#work").nav__link
								| как мы работаем?
						li.nav__item
							a(href="#reviews").nav__link
								| Отзывы
						li.nav__item
							a(href="#order").nav__link
								| контакты