.order
	.target--illusion
		.target--link#order
	.container
		.row
			.col-xs-14
				h3.order__title.wow.fadeInDown
					| Живите красиво — заказывайте 
					br
					| шлифовку и покраску своего деревянного 
					br
					| дома в компании «Экостиль»! 
			.wow.fadeInUp
				a.btn.btn-sm.fancy(href="#call")
					| Заказать обратный звонок