.price
	.target--illusion
		.target--link#price
	.container
		.row
			.col-xs-14
				h1.heading-decor-beige.price__title.wow.fadeInDown
					| Услуги и цены
				.price__items
					.price__item
						.price__item-desc
							h5.price__item-title.wow.fadeInLeft
								| Шлифовка дома —
							.price__item-text.wow.fadeInLeft
								p
									| Важный этап подготовки  деревянного дома к дальнейшей отделке.
									| Она обеспечивает хорошее впитывание антисептиков и защитных составов, идеальное распределение лакокрасочных материалов,
									| удаление дефектов и повреждений древесины, увеличивает долговечность покрытия. Шлифовка позволяет уберечь дом от
									| грибка и плесени, сделать рисунок древесины более выраженным.
								p
									b
										| Цена шлифовки дома
										| один проход (включая расходные материалы) — 
										span.price-word
											| 200 руб./м2

						.price__item-pr.wow.fadeInRight
							img.img-responsive(src="images/price/1.jpg", alt="")
					.price__item
						.price__item-pr.wow.fadeInLeft
							img.img-responsive(src="images/price/2.jpg", alt="")
						.price__item-desc
							h5.price__item-title.wow.fadeInRight
								| Покраска дома —
							.price__item-text.wow.fadeInRight
								p
									| Обработка древесины, которая выполняет защитную и эстетическую функции. Перед отделкой обрабатываем стены антисептиками и защитными составами, предлагаем на выбор множество оттенков на любой вкус. Работаем только с высококачественной продукцией
									| и профессиональными составами.
								p
									b
										| Цена покраски дома за один слой (включая расходные материалы) — 
										span.price-word
											| 100 руб./м2