.reviews
	.target--illusion
		.target--link#reviews
	.container
		.row
			.col-xs-14
				h1.reviews__title.heading-decor-beige.wow.fadeInDown
					| Отзывы
				.reviews__slider
					.reviews__slide
						h5.reviews__slide-title
							| Александр, к.п. Чистые Ключи
						p.reviews__slide-desc
							| Заказал в компании Экостиль шлифовку и покраску дома из клееного бруса – мастер приехал на место (а это выезд в область) на следующий день, вместе с ним оценили площади в работу, смета понравилась. В оговоренные сроки ребята приступили к работе, а закончили даже немного раньше. Теперь вопрос кто будет делать шлифовку и покраску внутренних помещений дома даже не стоит. Рекомендую.
					.reviews__slide
						h5.reviews__slide-title
							| Андрей, д. Александровка 
						p.reviews__slide-desc
							| Хотел сэкономить, нашел бругаду самостоятельно, работа была сделана быстро но некачественно, пришлось переделывать. По рекомендации соседей обратился в компанию Экостиль, ребята смогли приступить к работе уже через два дня, качество на высоте, отдельное спасибо Сергею за оперативность. Несмотря на плохие погодные условия работа была выполнена в срок.
					.reviews__slide
						h5.reviews__slide-title
							| Анна, г. Богородск 
						p.reviews__slide-desc
							| В этом году начали строительство нового дома и заодно решили обновить баню, внешний вид оставлял желать лучшего. Краска местами облезла и бревна почернели. Спасибо компании Экостиль, баня теперь как новая. 
					.reviews__slide
						h5.reviews__slide-title
							| Виктор п. Опалиха
						p.reviews__slide-desc
							| Заказал вызов мастера для замеров, уже на следующей день посчитали объем, согласовали смету и заключили договор. Очень понравилось что не было предоплаты и работы оплачивал только по факту. 
					.reviews__slide
						h5.reviews__slide-title
							| Станислав п. Суроватиха 
						p.reviews__slide-desc
							| Хочу отметить высокий уровень организации. Приходилось в процессе строительства дома сталкиваться с разными компаниями. Пришёл к выводу – хочешь получить качество, заказывай покраску дома из хорошего бревна или бруса у узких специалистов. Мастера очень хорошо знают все нюансы, а при своём профессионализме умудряются сохранять приятную ценовую политику!					
					.reviews__slide
						h5.reviews__slide-title
							| Елена д. Дрисвищи 
						p.reviews__slide-desc
							| Нам было очень сложно определиться с выбором краски и вариантом обработки нашего дома. Заказали вариант Премиум по спецпредложению, не прогадали. 