.reviews
	.target--illusion
		.target--link#reviews
	.container
		.row
			.col-xs-14
				h1.reviews__title.heading-decor-beige.wow.fadeInDown
					| Отзывы
				.reviews__slider
					.reviews__slide
						h5.reviews__slide-title
							| Алина
						p.reviews__slide-desc
							| Решили приготовить маме сюрприз, пока она была в отпуске. Когда нам сказали слишком большие сроки выполнения работ в 2-х компаниях, уже расстроились. Но «Экостиль» не просто помог спасти ситуацию бригада маляров закончила работу раньше, чем мы предполагали. Сотрудничеством очень довольны, высокий европейский уровень, удивительная слаженность между членами команды… 
					.reviews__slide
						h5.reviews__slide-title
							| Павел Анатольевич
						p.reviews__slide-desc
							| После строительства дома откладывали фасадные работы. Когда древесина стала терять вид, пришлось пойти на срочные меры. Перед нами стояла задача – получить хорошее качество при умеренных расценках. Шлифовка и покраска дома из бруса мастерами из компании «Экостиль» превзошла все ожидания. Отдельное спасибо за то, что согласились выехать в область!
					.reviews__slide
						h5.reviews__slide-title
							| Антон
						p.reviews__slide-desc
							| После удивительного преображения дома соседей не раздумывая обратились к вам. Огромный выбор оттенков заставил жену поразмышлять… В итоге мы заказали 3 цвета для оформления коттеджа из 2-х этажей (общая площадь 200 м 2 ). Всё было сделано в установленный срок, а результат получился даже лучше чем планировали несмотря на необычную форму мансардного этажа!
					.reviews__slide
						h5.reviews__slide-title
							| Полина Сергеевна
						p.reviews__slide-desc
							| Заказали в компании «Экостиль» шлифовку дачи. Из-за подтопления весной на стенах появилась плесень и тёмные пятна вид стал ужасающим не хотелось заходить в дом лишний раз. Ребята провели очень тщательную и кропотливую работу, а ведь стоимость работ при этом очень доступная. После основной шлифовки и нанесения грунтовки снова сделали промежуточную шлифовку. Приятно работать с профессионалами рекомендуем и ещё раз рекомендуем вас всем знакомым!
					.reviews__slide
						h5.reviews__slide-title
							| Станислав Валерьевич
						p.reviews__slide-desc
							| Хочу отметить высокий уровень организации. Приходилось в процессе строительства дома сталкиваться с разными компаниями. Пришёл к выводу – хочешь получить качество, заказывай покраску дома из хорошего бревна или бруса у узких специалистов. Мастера очень хорошо знают все нюансы, а при своём профессионализме умудряются сохранять приятную ценовую политику!
					.reviews__slide
						h5.reviews__slide-title
							| Ольга Павловна
						p.reviews__slide-desc
							| Получили на выбор несколько образцов не могли некак определиться и помог нам мастер, он указал на лучший оттенок который хорошо гармонирует с кирпичным забором и скульптурами мы тогда успели уже некоторые установить на участке. В процессе убедились в компетентности бригады потому заказали ещё покраску беседки и бани.
							br
							| Все просто отлично!
					.reviews__slide
						h5.reviews__slide-title
							| Радомир
						p.reviews__slide-desc
							| В наше время найти достойную компанию в Нижнем Новгороде не так просто. 3 года назад заказали покраску дома из сруба для себя. Компании «Экостиль» пришлось переделывать работу за недобросовестными горе-мастерами. В этом году и родители «созрели» на обновление фасада своего старого деревянного дома и они в восторге от результата!
					.reviews__slide
						h5.reviews__slide-title
							| Константин
						p.reviews__slide-desc
							| Дом красил в прошлом году, после зимы поверхность не изменилась, думаю, в дальнейшем всё будет отлично. Мастер помог подобрать оттенок по палитре, чтобы хорошо сочетались стены с черепицей. Получилось очень хорошо, дом действительно приобрёл европейский вид. Выражаю отдельную благодарность руководству компании «Экостиль» за безупречную организацию.
					.reviews__slide
						h5.reviews__slide-title
							| Владимир
						p.reviews__slide-desc
							| Заказал шлифовку и покраску фасада дома из сруба и грибок тоже удалили. Погода была плохая и приходилось откладывать сроки даже 2 раза. Но специалисты вошли в положение и закончили всё до моего отъезда в командировку и за что отдельное им спасибо!
					