script(src="bower/jquery/dist/jquery.min.js")
script(src="bower/slick-carousel/slick/slick.min.js")
script(src="bower/fancybox/source/jquery.fancybox.js")
script(src="http://malsup.github.io/jquery.form.js")
script(src="bower/wow/dist/wow.min.js")
script(src="bower/jquery.maskedinput/dist/jquery.maskedinput.min.js")
script(src="bower/jquery_lazyload/jquery.scrollstop.js")
script(src="bower/jquery_lazyload/jquery.lazyload.js")
script(src="js/main.js")