.what
	.target--illusion
		.target--link#what
	.container
		.row
			.col-xs-14
				h1.heading-decor-gray.what__title.wow.fadeInDown
					| Почему выбирают нас? 
				.what__items
					.what__item.wow.fadeInLeft
						.what__item-pr
							span.i-what-1
						.what-item-desc
							| Делаем
							br
							| первоклассную
							br
							| отделку более
							br
							| 5 лет
					.what__item.wow.fadeInLeft(data-wow-delay="0.2s")
						.what__item-pr
							span.i-what-2
						.what-item-desc
							| Не меняем
							br
							| стоимость
							br
							| сметы
					.what__item.wow.fadeInLeft(data-wow-delay="0.4s")
						.what__item-pr
							span.i-what-3
						.what-item-desc
							| Гарантируем
							br
							| качество и
							br
							| соблюдение
							br
							| всех технологий
					.what__item.wow.fadeInLeft(data-wow-delay="0.6s")
						.what__item-pr
							span.i-what-4
						.what-item-desc
							| Используем
							br
							| только
							br
							| профессиональные
							br
							| материалы
					.what__item.wow.fadeInLeft(data-wow-delay="0.8s")
						.what__item-pr
							span.i-what-5
						.what-item-desc
							| Выполняем
							br
							| работы любой
							br
							| сложности
				.material.clearfix
					h4.material__title.wow.fadeInDown
						| Преимущества материалов:
					.material__items
						.material__item.wow.fadeInLeft
							.material__item-pr
								span.i-what-6
							.material__item-desc
								| Сохраняют
								br
								| красоту и защиту
								br
								| долгие годы
						.material__item.wow.fadeInLeft(data-wow-delay="0.2s")
							.material__item-pr
								span.i-what-7
							.material__item-desc
								| Обеспечивают
								br
								| равномерное
								br
								| покрытие
						.material__item.wow.fadeInLeft(data-wow-delay="0.4s")
							.material__item-pr
								span.i-what-8
							.material__item-desc
								| Защищают
								br
								| от УФ-излучения,
								br
								| гнили, грибков,
								br
								| влаги, вредителей
						.material__item.wow.fadeInLeft(data-wow-delay="0.6s")
							.material__item-pr
								span.i-what-9
							.material__item-desc
								| Бережно
								br
								| воздействуют
								br
								| на структуру
								br
								| дерева
						.material__item.wow.fadeInLeft(data-wow-delay="0.8s")
							.material__item-pr
								span.i-what-10
							.material__item-desc
								| Гарантируют
								br
								| безопасность
								br
								| для людей и
								br
								| окружающей среды