.work
	.target--illusion
		.target--link#work
	.container
		.row
			.col-xs-14
				h1.work__title.heading-decor-gray.wow.fadeInDown
					| Как мы работаем?
				h5.work__slogan.wow.fadeInLeft
					| ВСЕГО 5 ШАГОВ на пути к новой жизни Вашего дома:
				.work__items
					.work__item.wow.fadeInLeft
						.work__item-arrow.work__item-arrow-1.i-work-arrow.wow.fadeInLeft(data-wow-delay="0.2s")
						.work__item-pr
							span.i-work-1
						.work__item-desc
							| Оставляете заявку
							br
							| по телефону или
							br
							| заказываете
							br
							| обратный звонок
					.work__item.wow.fadeInLeft(data-wow-delay="0.4s")
						.work__item-arrow.work__item-arrow-2.i-work-arrow.wow.fadeInLeft(data-wow-delay="0.6s")
						.work__item-pr
							span.i-work-2
						.work__item-desc
							| Мастер выезжает
							br
							| на замеры и
							br
							| бесплатную
							br
							| консультацию
					.work__item.wow.fadeInLeft(data-wow-delay="0.8s")
						.work__item-arrow.work__item-arrow-3.i-work-arrow.wow.fadeInLeft(data-wow-delay="1s")
						.work__item-pr
							span.i-work-3
						.work__item-desc
							| Составляется смета
							br
							| и индивидуальное
							br
							| коммерческое
							br
							| предложение,
							br
							| заключается договор
					.work__item.wow.fadeInLeft(data-wow-delay="1.2s")
						.work__item-arrow.work__item-arrow-4.i-work-arrow.wow.fadeInLeft(data-wow-delay="1.4s")
						.work__item-pr
							span.i-work-4
						.work__item-desc
							| Выполняем
							br
							| шлифовку и
							br
							| покраску дома
							br
							| в короткие сроки
					.work__item.wow.fadeInLeft(data-wow-delay="1.6s")
						.work__item-arrow.work__item-arrow-5.i-work-arrow.wow.fadeInLeft(data-wow-delay="1.8s")
						.work__item-pr
							span.i-work-5
						.work__item-desc
							| Вы получаете новый
							br
							| красивый дом и долгие
							br
							| годы наслаждаетесь
							br
							| результатом
				h5.work__subtitle.fadeInLeft
					| Теперь профессиональная покраска и шлифовка деревянного дома доступны каждому!
				.wow.fadeInUp
					a.btn.btn-sm.fancy(href="#call")
						| Заказать обратный звонок
					