doctype basic
html
	head
		include jade/head.jade
		include jade/metrika.html
		include jade/scripts.jade
	body
		div(style="width: 100%; overflow-x: hidden;")
			include jade/header.jade
			include jade/main.jade
			include jade/price.jade
			include jade/action.jade
			include jade/what.jade
			include jade/dom.jade
			include jade/edge.jade
			include jade/gallery.jade
			include jade/work.jade
			include jade/reviews.jade
			include jade/doubts.jade
			include jade/order.jade
			include jade/foo.jade
			include jade/hidden.jade
